# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# vscode
.vscode

# Executables
*.exe
*.out
*.app
fundamentos/HolaMundo/HolaMundo
fundamentos/UserInput/UserInput
fundamentos/StringUserInput/StringUserInput
fundamentos/Namespaces/Namespaces
fundamentos/Loops/Loops
fundamentos/Functions/Functions
fundamentos/Collections/Arrays
fundamentos/Collections/Matrix
fundamentos/Collections/Vectors
fundamentos/Collections/Maps
fundamentos/Exceptions/ExceptionHandling
fundamentos/Pointers/Pointers
fundamentos/Structs/Structs
fundamentos/Random/Random
fundamentos/Objects/Basics
fundamentos/Objects/Inheritance
fundamentos/Objects/Polymorphism
fundamentos/Objects/Templates
fundamentos/Files/archivo.txt
fundamentos/Files/TextFiles
